@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

a{
    color: #d8b24c;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Baskervville SC", serif;
    background-color: #02140a;
    color: #be8343;
    margin: 20px;
    padding: 0;
}

body::-webkit-scrollbar {
    background-color: rgb(2, 20, 10);
}

body::-webkit-scrollbar-thumb {
    background-color: #d8b24c;
    border: solid rgb(2, 20, 10);
    border-radius: 15px;
    width: 6px;

}

.voltar {
    font-size: calc(1vh + 1vw);
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    margin-top: 10vh;
    padding: 0 1vw 0 1vw;
    font-size: calc(2vw + 2vh);
    border: #be8343 2px solid;
    color: #d8b24c;
}

.all_ingressos {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    margin-top: 5vh;
}

.div_ingresso {
    background-image: url(../img/bilhete.svg);
    background-position: 0;
    background-size: cover;

    padding: 1vw 6vw 1vw 6vw;
}

.paguinho{
    color: #d8b24c;;
    margin-top: 2vw;
}

.usuario-img{
    width: 3vw;
    margin: 0.5vw;
}

.info-txt{
    margin: 0.5vw;
}

.info{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    width: 30vw;

    background-color: #082214;
    height: 40vh;
    border: solid 2px #be8343;
    margin-top: 5vh;
}

.usu{
    display: flex;
    width: 100%;

    justify-content: center;
}

h2 {
    text-align: center;

    font-size: calc(1.2vw + 1vh);

    margin-right: 2vw;
    margin-left: 2vw;
}

h3 {
    font-size: calc(.8vw + 1vh);   
}

h4 {
    font-weight: 400;
    text-align: center;

    font-size: calc(.8vw + .5vh);

    margin-right: 2vw;
    margin-left: 2vw;
}

@media (max-width: 680px) {
    .div_ingresso {
        display: flex;
        flex-direction: column;
        background-image: url(../img/bilhete.svg);
        background-position: 0;
        background-size: cover;

        width: 50vw;
        height: 50vw;

        justify-content: center ;
    
        padding: 1vw 6vw 1vw 6vw;
    }

    h2 {
        text-align: center;
    
        font-size: calc(1.5vw + 1vh);

        margin: 0;
    
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 2vw;
    }

    h4 {
        font-weight: 400;
        text-align: center;
    
        font-size: calc(1vw + .8vh);

        margin: 0;
    
        margin-right: 2vw;
        margin-left: 2vw;
    }
}