<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li class="msg">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h4 class="voltar"><a href="{{ url_for('index') }}">Voltar</a></h4>

        <h2>Cadastro</h2>
        <div id="box" class="bg-dark text-light p-4 rounded">
            <form id="formulario-cadastro" method="post">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="senha">Criar Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>

                <div class="form-group">
                    <label for="confirmar_senha">Confirmar Senha:</label>
                    <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" required>
                </div>

                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required>
                </div>

                <div class="form-group">
                    <label for="numero">Telefone:</label>
                    <input type="text" class="form-control" id="numero" name="numero" required>
                </div>

                <div class="submit-container">
                    <button id="submit-btn" class="btn btn-primary btn-block" type="submit">Salvar Cadastro</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
