<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <title>Bistrô - Home</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <header>
        <img src="../static/img/barras.svg" alt="menu-barras" id="menu-barras" class="menu-barras" onclick="onClick()">

        <div class="usuario">
            {% if logado %}
                <a href="{{ url_for('list_ingressos_usuario')}}"><img src="../static/img/usuario.svg" class="imagem_usuario" alt="pagina_usuario"></a>
            {% else %}
                <a href="{{ url_for('login')}}"><h3 class="login_btn">Login</h3></a>
                <h3 class="slash" style="color: #e5bd86;">&nbsp;/&nbsp;</h3>
                <a href="{{ url_for('cadastro')}}"><h3 class="login_btn">Cadastro</h3></a>
            {% endif %}
        </div>
    </header>

    <div class="back-img">

    </div>

    <div class="drop" id="drop">
        <a href="#sobre"><h2 class="drop-text">Sobre</h2></a>
        <a href="#cardapio"><h2 class="drop-text">Cardápio</h2></a>
        <a href="#fale"><h2 class="drop-text">Fale conosco</h2></a>
        <h2><br></h2>
        <a href="{{ url_for('list_ingressos_usuario')}}"><h2 class="drop-text">Minha conta</h2></a>
        <a href="{{ url_for('add_ingressos')}}"><h2 class="drop-text">Compre aqui</h2></a>
        <a href="{{ url_for('logout') }}"><h2 class="drop-text">Logout</h2></a>
    </div>

    <div class="home-div">
        <h1 class="bistro">Bistrô</h1>
        <h1 class="title">AURORA DO SUL</h1>
        <h2 class="sub-title">Cozinha Gaúcha <br> a comida dos pampas</h2>

        <div class="div-compra">
            <img src="../static/img/colchete.svg" class="colchete_esq colchete" alt="colchete_esq">
            <h2 class="btn-compra"><a href="{{url_for('add_ingressos')}}">COMPRE AQUI</a></h2>
            <img src="../static/img/colchete.svg" class="colchete" alt="colchete_dir">
        </div>

        <div class="valor"><h2 class="cor-diferente">Adulto: R$120<br>Infantil: R$60</h2></div>
        

        <h3 class="data">31 de outubro às 19h30</h3>
    </div>
    
    <div class="container">
        <h1 class="title2" id="cardapio">CARDÁPIO</h1>
        <div class="prato">
            <div class="div_img_prato_inv">
                <img src="../static/img/couvert.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>

            <div class="texto-prato-inv">
                <h2 class="title-prato">COUVERT</h2>
                <img src="../static/img/gaucho.svg" alt="gaucho" class="gaucho">
                <h3 class="info-prato">O prato objetiva representar os povos indígenas do RS – Guaranis, Kaingangs e Jês.</h3>
            </div>

            <h3 class="ingred">INGREDIENTES: Pão de milho crioulo e manteiga de erva-mate e limão</h3>
        </div>

        <div class="prato">
            <div class="texto-prato">
                <h2 class="title-prato">ENTRADA</h2>
                <img src="../static/img/chapeu.svg" alt="chapéu" class="chapeu">
                <h3 class="info-prato">O prato representa a produção agrícola do nosso estado e a colonização germânica, por meio do queijo quark, da copa e do
                crem.</h3>
            </div>

            <div class="div_img_prato">
                <img src="../static/img/Legumes.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>

            <h3 class="ingred">INGREDIENTES: Salada de legumes assados (cenoura, tomate, cebola, abobrinha, berinjela e batata-doce), queijo quark, crem e copa.</h3>
        </div>

        <div class="prato">
            <div class="div_img_prato_inv">
                <img src="../static/img/Torteloni.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>

            <div class="texto-prato-inv">
                <h2 class="title-prato">PRIMEIRO PRATO</h2>
                <img src="../static/img/gaucho.svg" alt="gaucho" class="gaucho">
                <h3 class="info-prato">O prato foi criado com o objetivo de representar a imigração italiana, por meio das massas frescas, e também os
                africanos que viveram no sul do RS, através do charque e da moranga cabotiá, ingredientes consumidos pelos escravizados
                nas charqueadas. Além disso, o prato faz referência à cor verde da bandeira do RS.</h3>
            </div>

            <h3 class="ingred">INGREDIENTES: Torteloni de espinafre com recheio de charque e moranga cabotiá ao molho de nata com manjerona.</h3>
        </div>

        <div class="prato">
            <div class="texto-prato">
                <h2 class="title-prato">SEGUNDO PRATO</h2>
                <img src="../static/img/chapeu.svg" alt="chapéu" class="chapeu">
                <h3 class="info-prato">O prato representa dois ingredientes icônicos do nosso estado: o arroz e a carne bovina. A costela será assada por um
                longo tempo em baixa temperatura, remetendo ao tradicional costelão 12 horas. O prato simboliza a cor vermelha da
                bandeira do RS.</h3>
            </div>
        
            <div class="div_img_prato">
                <img src="../static/img/Costela.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>
        
            <h3 class="ingred">INGREDIENTES: Arroz cremoso de tomate com costela assada.</h3>
        </div>

        <div class="prato">
            <div class="div_img_prato_inv">
                <img src="../static/img/Cheesecake.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>
        
            <div class="texto-prato-inv">
                <h2 class="title-prato">SOBREMESA</h2>
                <img src="../static/img/gaucho.svg" alt="gaucho" class="gaucho">
                <h3 class="info-prato">O prato representa ingredientes típicos do RS, como a bergamota montenegrina, o butiá, o queijo colonial e o pinhão.
                Ressalta-se que o RS abriga os maiores butiazais do mundo, e o queijo colonial é um legado das migrações no estado.</h3>
            </div>
        
            <h3 class="ingred">INGREDIENTES: Cheesecake de queijo colonial com calda de bergamota e butiá, acompanhada de praliné de pinhão.</h3>
        </div>

        <div class="prato">
            <div class="texto-prato">
                <h2 class="title-prato">MIMO</h2>
                <img src="../static/img/chapeu.svg" alt="chapéu" class="chapeu">
                <h3 class="info-prato">Representar a hospitalidade do povo gaúcho, com um preparo típico trazido pela imigração italiana, consumido nos cafés
                da manhã e após refeições, além dos encontros familiares – os Filós. Um agrado que fecha a experiência.</h3>
            </div>
        
            <div class="div_img_prato">
                <img src="../static/img/Esfregola.jpg" class="img_churrasco" alt="churrasco_imagem">
            </div>
        
            <h3 class="ingred">INGREDIENTES: Esfregolá de uva</h3>
        </div>
    </div>

    <div class="space"></div>

    <div class="container2">
        <h1 class="title3">HISTÓRIA DO BISTRÔ</h1>
        
        <div class="tops">
            <img src="../static/img/top-1.svg" alt="topico 1" class="img_top">
            <h3 class="texto-topicos">Com o passar dos anos, o Bistrô se tornou um ponto de encontro para amantes da gastronomia, conquistando reconhecimento por seus pratos autênticos e ingredientes frescos. </h3>
        </div>

        <div class="tops">
            <img src="../static/img/top-2.svg" alt="topico 2" class="img_top">
            <h3 class="texto-topicos">O Bistrô surgiu como uma iniciativa do técnico em 2015, para colocar em prática os conhecimentos adquiridos ao longo dos cursos técnicos.</h3>
        </div>

        <div class="tops">
            <img src="../static/img/top-3.svg" alt="topico 3" class="img_top">
            <h3 class="texto-topicos">Unindo em um evento especial os conhecimentos adquiridos pelos alunos de Administração, Gastronomia e Informática.</h3>
        </div>

        <div class="tops">
            <img src="../static/img/top-4.svg" alt="topico 4" class="img_top">
            <h3 class="texto-topicos">Através da criação de um bistrô, os alunos têm a oportunidade de aplicar suas habilidades em gestão, planejamento, finanças, marketing, e suas competências em técnicas gastronômicas, promovendo uma vivência empreendedora e multidisciplinar.</h3>
        </div>
    </div>

    <div class="space"></div>

    <div class="container2" id="sobre">
        <h1 class="title3">BISTRÔ 2024</h1>
        <h3 class="texto-topicos">&emsp; &emsp; &emsp; &emsp;No Bistrô Aurora do Sul, celebramos a rica gastronomia do Rio Grande do Sul com uma abordagem contemporânea. Nosso cardápio reinterpreta pratos tradicionais com um toque moderno, utilizando ingredientes locais frescos e técnicas inovadoras. Inspirados pela resiliência e pela união do nosso estado diante dos recentes eventos, oferecemos uma experiência culinária que homenageia a herança gaúcha e o espírito coletivo que fortalece nossa comunidade.</h3>
        <h3 class="texto-topicos">&emsp; &emsp; &emsp; &emsp;O nome Aurora do Sul foi escolhido por sua profunda conexão com o conceito de renascimento e renovação. "Aurora" representa o amanhecer, o início de um novo dia, trazendo consigo a promessa de novas oportunidades e a renovação da vida. Este simbolismo é perfeitamente alinhado com a proposta do bistrô de oferecer uma experiência gastronômica que reinventa e celebra os sabores tradicionais da culinária gaúcha, trazendo frescor e inovação.</h3>
        <h3 class="texto-topicos">&emsp; &emsp; &emsp; &emsp;O objetivo do bistrô é proporcionar uma experiência gastronômica diferenciada para nossos familiares, professores e amigos, retomando as origens do Rio Grande do Sul em uma maneira contemporânea. Bem como a demostração das habilidades adquiridas pelos alunos do curso técnico do CETEC durante esses dois anos.</h3>
    </div>

    <div class="space"></div>

    <div class="container3">
        <h1 class="title3">CURSOS TÉCNICOS</h1>

        <div class="curso">
            <div class="curso-img">
                <img src="../static/img/adm.jpg" class="adm">
            </div>
    
            <div class="curso-desc">
                <h3 class="curso-texto">Curso Técnico em Administração: Forma técnicos empreendedores e capacitados a atuar nos mais diversos setores da economia, de forma criativa e ética aplicando os princípios e técnicas da administração.</h3>
            </div>
        </div>

        <div class="curso">
            <div class="curso-img">
                <img src="../static/img/gastronomia.jpg" class="gastronomia">
            </div>

            <div class="curso-desc">
                <h3 class="curso-texto">     Curso Técnico em Gastronomia: Capacita o aluno a tornar-se um "Chef" e administrador de restaurantes ou empresas do ramo gastronômico.</h3>
            </div>
        </div>

        <div class="curso">
            <div class="curso-img">
                <img src="../static/img/ti.JPG" class="ti">
            </div>
    
            <div class="curso-desc">
                <h3 class="curso-texto">     Curso Técnico em Informática: Forma técnicos na área de TI (tecnologia da informação) aptos a projetar e desenvolver sistemas de natureza complexa, bem como utilizar, aprimorar e integrar tecnologias específicas, tornando-os referência no mercado altamente competitivo de TI.</h3>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="container2">
        <h1 class="title3">AGRADECIMENTOS</h1>

        <h3 class="texto-topicos">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A turma dos cursos tecnicos de 2024 agradece 
        aos professores responsáveis pelo projeto em cada curso: Beatriz Bassotto, Ederson Almeida, Cristina Cemin e Israel Bertamoni e aos demais professores 
        que colaboraram com este projeto. A Coordenadora dos cursos técnicos do Cetec Viviane Dambros, ao coordenador pedagógico do CETEC 
        Ensino Médio Nilseu Paulo Tortelli e à diretora do CETEC Ana Cristina Possapp Cesa. Agradecemos também o apoio da Escola de Gastronomia 
        da Universidade de Caxias do Sul.</h3>
        <h3 class="texto-topicos">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ademais, nossos cumprimentos e parabéns aos alunos envolvidos neste trabalho, que se dedicaram à realização do Bistrô
        Aurora do Sul.</h3>
        
    </div>
    
    <div class="space"></div>

    <div class="container4">
        <div id="map" class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3488.7424556690435!2d-51.17868632371707!3d-29.024613584739335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951e90a10816692f%3A0x284d23d4eed7c741!2sAv.%20Vindima%2C%201000%20-%20Vindima%2C%20Flores%20da%20Cunha%20-%20RS%2C%2095270-000!5e0!3m2!1spt-BR!2sbr!4v1727976330007!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="mapa">
            </iframe>
        </div>

        <div class="fale-conosco">
            <h2 class="fale" id="fale">FALE CONOSCO</h2>
            <p class="texto-topicos">Julia Adelina Castilhos da Silva <br> (Administração) <br> juliaavivan@gmail.com <br>(54) 99203-2322</p>
            <div class="redes">
                <img src="../static/img/insta.svg" alt="insta" class="insta">
                <a href="https://www.instagram.com/bistro.auroradosul/"><h3>bistro.auroradosul</h3></a>
            </div>
        </div>
    </div>

    <div class="patrocinios">
        <img src="../static/img/logo.png" class="logo">
        <img src="../static/img/ucs.png" class="ucs">
    </div>

    <footer>
        <div class="footer">
            COMPROU INGRESSO ERRADO? QUER CANCELAR UMA COMPRA? <br>CONTATE NOSSO SUPORTE TÉCNICO: +55 54 8154-7290 | projetotrattoria@gmail.com
        </div>
    </footer>
</body>

<script>
    var anchor = 0
    var menu = document.getElementById('menu-barras')
    var drop = document.getElementById('drop')

    function onClick(){
        if (anchor==0){
            anchor = 1
            drop.classList.add("active")

            menu.classList.add("menu-active")
        }
        else {
            anchor = 0
            drop.classList.remove("active")

            menu.classList.remove("menu-active")
        }
    }

    window.addEventListener("load", init);
</script>
</html>