<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_ingressos.css">
    <title>Document</title>
</head>
<body>
    <div class="voltar-div">
        <h3 class="voltar"><a href="{{url_for('index')}}">Voltar</a></h3>
    </div>

    <div class="title-div">
        <h1 class="title">MINHA CONTA</h1>

    </div>

    <div class="usu">
        <div class="info">
            <img class="usuario-img" src="../static/img/usuario.svg" alt="">
            <h3 class="info-txt">Nome: {{ nome_usuario }}</h3><br>
            <h3 class="info-txt">Email: {{ comprador.email }}</h3><br>
            <h3 class="info-txt">Telefone: {{ comprador.numero }}</h3><br>
            <h3 class="info-txt">CPF: {{ comprador.cpf }}</h3>
        </div>
    </div>

    <div class="title-div">
        <h1 class="title">MEUS INGRESSOS</h1>
    </div>

    <div class="all_ingressos">
        {% for ingresso in ingressos %}
        <div class="div_ingresso">
            <h2>Ingresso</h2>
            <h4>ID: {{ ingresso.id }}  <br>  Nome: {{ nome_usuario }} <br> Titular: {{ ingresso.titular }}  <br>  Email: {{ ingresso.email_contato }}  <br>  Telefone: {{ ingresso.telefone }}  <br>  Restrições: {{ 'Nenhuma' if ingresso.restricoes_alimentares == "" else ingresso.restricoes_alimentares}}</h4>
            {% if ingresso.tipo == 0 %}
                <h4>Tipo: Adulto</h4>
                {% else %}
                    <h4>Tipo: Criança</h4>
            {% endif %}
            <h4 class="paguinho">PAGO:{{'SIM' if ingresso.pago else 'NÃO'}}</h4> 
        </div>
        {% endfor %}
    </div>

    <H2>Pague seus ingressos NÂO PAGOS <a href="{{url_for('pagamento')}}">aqui</a></H2>
</body>
</html>