<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_login.css">
    <title>Mostrar/Ocultar Senha</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li class="msg">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h4 class="voltar"><a href="{{ url_for('index') }}">Voltar</a></h4>

        <div class="title mb-4">Login</div>
        
        <div id="box" class="bg-dark text-light p-5 rounded">
            <form class="form-group" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                
                <button class="submit-button btn btn-primary btn-block" type="submit">Entrar</button>
            </form>
        </div>

        <div id="link-cadastro" class="text-center mt-3">
            <h7>Caso não tenha feito cadastro, <a href="{{ url_for('cadastro') }}">Cadastre-se</a></h7>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
