<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="msg">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="">
        <label for="nova_senha">Digite sua nova senha:</label>
        <input type="password" id="nova_senha" name="nova_senha" required>
        <button type="submit">Redefinir Senha</button>
    </form>
</body>
</html>